.env
.env.local
.env.development
.env.production

google_credentials.json
google_calendar_config.json
owm_config.json

dist/
package-lock.json
node_modules/
.venv/
venv/
__pycache__/
*.pyc
uv.lock
.coverage

tmp/
backend-go/backend-go

**/piinky.png
sync.sh

cal/