[Unit]
Description=Piinky Service
After=network-online.target
Wants=network-online.target

[Service]
Environment="PATH=/home/coreyk/go/bin:/usr/local/go/bin:/usr/local/bin:/usr/bin:/bin"
User=coreyk
WorkingDirectory=/home/coreyk/dev/piinky
ExecStart=/home/coreyk/dev/piinky/piinky.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target